.login {
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  width: 90vw;
  height: 90vh;
  background-color: white;
  display: flex;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.login__image {
  flex: 0.4;
  background-image: linear-gradient(#140c0c9d, #140c0cd5),
    url("../../assets/login-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login__form {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
